body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(156, 154, 151);
    border-color: blue;

}
#calculator{
    transform: scale(0.7); /* try 0.6 or 0.8 */
    transform-origin: center;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: black;
    border-radius: 15%;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(49, 48, 47);
    color: white;
}
#keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:none;
    background-color: rgb(73, 72, 71);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(209, 30, 30);
}
button:active{
    background-color: rgb(240, 3, 3);
}
.operator-btn{
    background-color: rgb(255, 51, 0);

}
.operator-btn:hover{
    background-color: rgb(200, 51, 0);

}
.operator-btn:active{
    background-color: rgb(245, 38, 0);

}